version: "3.8"

services:
  caddy:
    build: /opt/docker/caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - /opt/docker/Caddyfile:/etc/caddy/Caddyfile
      - /opt/docker/caddy/cert.pem:/etc/caddy/cert.pem
      - /opt/docker/caddy/key.pem:/etc/caddy/key.pem
      - caddy_data:/data
      - caddy_config:/config

  template-app:
    image: us-central1-docker.pkg.dev/{{ gcp_project_id }}/app-images/gcp-service-template:latest
    restart: unless-stopped

volumes:
  caddy_data:
  caddy_config: